{% extends 'base.html' %}
{% load crispy_forms_tags %}

{%  block title %}
{{profile.user}}
{%  endblock title %}

{% block content %}

{% if confirm %}
<div class="alert alert-info" role="alert">
    Profile updated
  </div>
{% endif %}

<div class='text-center'>
    <img src="{{profile.avatar.url}}" alt='Profile image' class='avatar-big'>
</div>
<form action='' method="POST", enctype="multipart/form-data">
    {% csrf_token %}
    {{form | crispy }}
    <button type = 'submit' class='btn btn-success mt-3'>Update</button>
</form>
{% endblock content %}